*{
	font-family: 'Balsamiq Sans', cursive;

}
#header-nav {
    background-color: #918f8e;
    border-radius: 0;
    border: 0;
}

.navbar-brand h1 { 
    font-size: 1.5em; 
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
    color: black;
    

}

#main-content{
	margin: 30px;
}

#main-content h1{
	font-weight: bold;
	text-align: center;
}

#menu-container{
	background-color: #b9b9b9;
    border: 1px solid black;
    margin-top: 5px;
    margin-right: 5px;
}

#menu-container h2{
	font-weight: bold;
	text-align: center;
}

section{
    padding: 10px;
	text-align: justify;
}

@media (max-width:767px){
	
	#collapsable-nav {
		background-color:white;
	}
	
	#nav-list {		
		margin-bottom: 0px;
		margin-top: 0px;
	}
	
	#nav-list li{
		text-align: center;
		border: 1px solid black;
	}
	#nav-list li:hover{
		font-weight: bold;
		background-color: #bbbbbb;
	}
}


